 
 #test{
 left:30%;  
   top:30%;
 position:absolute; 
 width: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: rgba(75, 81, 95, 0.3);
    box-shadow: 7px 7px 17px rgba(52, 56, 66, 0.5);
    border-radius: 5px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
     background-color:white;
}
#test  input[type="submit"]
{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
#test  input[type="reset"]
{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
#test h2{
	text-align:center;
}